<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-5">
        <strong>New Order</strong>
      </p>
    </div>
  </div>
</nav>

<%= render 'form', order: @order %>
<%= javascript_pack_tag("hello_react") %>
<!--%= link_to 'Back', orders_path, class: 'button is-danger' %-->
