<% if notice %>
  <div class="notification">
      <%= notice %>
  </div>
<% end %>

<h2>Your Pragmatic Cart</h2>
<ul>
  <% @cart.line_items.each do |item| %>
    <ul>
      <!--%= debug item %-->
      <li><%= item.product.title %></li>
      <li><%= item.quantity %></li>
    </ul>
  <% end %>
  <%= button_to "Emty Cart", @cart, method: :delete, data:{ onfirm: "Are you sure about that?"} %>
</ul>